In [1]:
import pandas as pd

In [2]:
orgtrainset = pd.read_csv('../train.csv')

In [3]:
orgtrainset.head()

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.5800,2399.5000,2357.1400,2374.5900,19.233005,2373.116392,-0.004218
1,1514764860,0,5.0,8.5300,8.5300,8.5300,8.5300,78.380000,8.530000,-0.014399
2,1514764860,1,229.0,13835.1940,14013.8000,13666.1100,13850.1760,31.550062,13827.062093,-0.014643
3,1514764860,5,32.0,7.6596,7.6596,7.6567,7.6576,6626.713370,7.657713,-0.013922
4,1514764860,7,5.0,25.9200,25.9200,25.8740,25.8770,121.087310,25.891363,-0.008264

In [4]:
orgtrainset[orgtrainset.Asset_ID == 2]

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.580000,2399.50,2357.14,2374.590000,19.233005,2373.116392,-0.004218
8,1514764920,2,53.0,2374.553333,2400.90,2354.20,2372.286667,24.050259,2371.434498,-0.004079
16,1514764980,2,61.0,2371.633333,2401.90,2353.70,2372.063333,42.676438,2375.442755,-0.002892
24,1514765040,2,95.0,2376.060000,2406.40,2344.00,2370.566667,37.820918,2371.096152,-0.003718
32,1514765100,2,33.0,2372.656667,2404.60,2343.40,2370.173333,8.519679,2370.345730,-0.002171
...,...,...,...,...,...,...,...,...,...,...
24236737,1632182160,2,88.0,543.044000,543.19,541.01,541.902000,106.161073,542.316880,NaN
24236751,1632182220,2,178.0,540.526000,541.05,538.09,538.690000,124.443244,539.361180,NaN
24236765,1632182280,2,100.0,538.640000,539.24,538.00,538.775000,49.333529,538.611258,NaN
24236779,1632182340,2,249.0,539.215000,542.70,538.87,542.512500,183.539303,541.018317,NaN
24236793,1632182400,2,403.0,542.093333,542.62,539.63,541.045000,582.830688,541.684504,NaN